In [1]:
import pandas as pd
import sqlite3

In [6]:
conn = sqlite3.connect('data/weather.db')

In [9]:
query = 'SELECT * FROM sales;'
sales_df = pd.read_sql_query(query, conn)

In [11]:
sales_df

      date  store_id  item_id  units_sold
0        0         0        0           0
1        0         0        1           0
2        0         0        2           0
3        0         0        3           0
4        0         0        4           0
5        0         0        5           0
6        0         0        6           0
7        0         0        7          29
8        0         0        8           0
9        0         0        9           0
10       0         0       10           0
11       0         0       11           0
12       0         0       12           0
13       0         0       13           0
14       0         0       14           0
15       0         0       15           0
16       0         0       16           0
17       0         0       17           0
18       0         0       18           0
19       0         0       19           0
20       0         0       20           0
21       0         0       21           0
22       0         0       22           0
23       0         0       23           0
24       0         0       24           0
25       0         0       25           2
26       0         0       26           0
27       0         0       27           0
28       0         0       28           0
29       0         0       29           0
...    ...       ...      ...         ...
5891     1         9       81           0
5892     1         9       82           0
5893     1         9       83           0
5894     1         9       84           0
5895     1         9       85           0
5896     1         9       86           0
5897     1         9       87           0
5898     1         9       88           0
5899     1         9       89           0
5900     1         9       90           0
5901     1         9      110           0
5902     1         9       91           0
5903     1         9       92           0
5904     1         9       93           0
5905     1         9       94           0
5906     1         9       95           0
5907     1         9       96           0
5908     1         9       97           0
5909     1         9       98           0
5910     1         9       99           0
5911     1         9      100           0
5912     1         9      101           0
5913     1         9      102           0
5914     1         9      103           0
5915     1         9      104           0
5916     1        10        0           0
5917     1        10        1           0
5918     1        10        2           0
5919     1        10      105           0
5920     1        10        3           0

[5921 rows x 4 columns]